<html>
    <head>
        <title>SSS_blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/" >Источник </a></h1>
        </div>

        <div>
            <h2><a href="">My first post</a><h2>
            <p>Published: 05.04.22</p>
            <h4><p>Открывает топ книга Марка Лутца «Изучаем Python». Она занимает особое место в моей карьере — моё изучение Python проходило именно по ней. В студенчестве она казалась мне фундаментальным трудом — в книге почти полторы тысячи страниц!</p></h4>
        </div>

        <div>
            <h2><a href="">My second post</a><h2>
            <p>Published: 06.04.22</p>
            <h4><p>Второе место топа занимает книга М. Горелика и Я. Освальда «Высокопроизводительный Python: практическое пособие для людей».</p></h4>
        </div>

    </body>
</html>